
<mat-toolbar>
   <div style="position: absolute; z-index: 5;">
    <img src="../../assets/img/home.png" alt="" style="width: 2vw">
    <img [src]="imgUrl" alt="" style=" width: 4vw; margin-left:22px">
   </div>
    <img src="../../assets/img/mecha_box_logo.png" 
    style="
        height: 97%;
        margin-left: auto;
        margin-right: auto;
        "
     alt="">
</mat-toolbar>

<app-menu-bar></app-menu-bar>

<!-- <img src="../../assets/img/mecha_box_logo.png"
style="
width: auto;
height: 100%;
" alt="" srcset="">
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->