<mat-tab-group  (selectedTabChange)="tabClick($event)">
  
  <mat-tab label="dashboard">
    <ng-template mat-tab-label>
      <img src="../../assets/img/dashboard_icon.png"  style="margin-left:2px;width: 5vh;"alt="" srcset="">
      <span > Dashboard</span>
    </ng-template>
  </mat-tab>
    <mat-tab label="settings">
      <ng-template mat-tab-label>
        <img src="../../assets/img/setting_icon.png" style="margin-left:2px;width: 5vh;" alt="" srcset="">
        <span > Settings</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>